.contact {
  height: calc(100vh - $header-height-lg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  // .contact__row
  &__row {
  }

  // .contact__form
  &__form {
    padding: 32px;
    background: $white;
    border-radius: 16px;
    @media (max-width: $md2 + "px") {
      padding: 24px;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 24px;
      textarea {
        width: 100%;
      }
      button {
        width: 100%;
      }
    }
  }
}