@font-face {
  font-family: 'Myriad Pro';
  src: url('../../assets/fonts/MyriadPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../../assets/fonts/MyriadPro-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}



@font-face {
  font-family: 'Myriad Pro';
  src: url('../../assets/fonts/MyriadPro-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Myriad Pro Condensed';
  src: url('../../assets/fonts/MyriadPro-CondIt.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'AA Bebas Neue';
  src: url('../../assets/fonts/AABebasNeue.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}