// modal ------------------------------------------

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  z-index: 999999;
  opacity: 0;
  transition: all .2s ease;
  display: none;

  &.show {
    opacity: 1;
  }
  &.displayed {
    display: flex;
  }
}

.modal {
  &.cancel-order-modal {
    max-width: 450px;
  }
}




