<div class="pagination">
    <a href="#" class="pagination__btn prev btn secondary sm">
        <i class="i-long-arrow-left"></i>
        <span>Попередня</span>
    </a>
    <div class="pagination__body body-pagination">
        <a href="#" class="body-pagination__number active">1</a>
        <a href="#" class="body-pagination__number">2</a>
        <a href="#" class="body-pagination__number">3</a>
        <span class="body-pagination__number">...</span>
        <a href="#" class="body-pagination__number">8</a>
        <a href="#" class="body-pagination__number">9</a>
        <a href="#" class="body-pagination__number">10</a>
    </div>
    <a href="#" class="pagination__btn next btn secondary sm">
        <span>Наступна</span>
        <i class="i-long-arrow-right"></i>
    </a>
</div>
<div class="pagination mobile">
    <a href="#" class="pagination__btn prev btn secondary sm">
        <i class="i-long-arrow-left"></i>
    </a>
    <div class="pagination__body body-pagination">
        Сторінка 1 з 10
    </div>
    <a href="#" class="pagination__btn next btn secondary sm">
        <i class="i-long-arrow-right"></i>
    </a>
</div>
