.filters-modal {
  align-items: flex-end;
  padding: 0;
  &.active {
    .filters-body {
      transform: translateX(0);
    }
  }
}

.filters-body {
  transform: translateX(100%);
  transition: all .3s ease;
  min-width: 400px;
  background: var(--bg);
  padding: 24px;
  position: relative;
  height: 100vh;
  @media (max-width: $md3 + "px") {
      min-width: unset;
  }
  // .filters-body__header
  &__header {
  }

  // .filters-body__content
  &__content {
    padding-top: 20px;
    overflow-y: scroll;
    height: calc(100vh - 165px);
    &::-webkit-scrollbar {
      display: none;
    }
  }

  // .filters-body__footer
  &__footer {
    background: var(--bg);
    padding-top: 16px;
    display: flex;
    gap: 12px;
    justify-content: flex-end;
  }
}

.filters-list {
}
