textarea,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="search"],
input[type="time"],
input[type="number"],
select.select {
  $border-radius: 8px;
  $background: $white;
  $input-border: 1px solid $grey-true-300;
  $padding: 15px 16px;
  $font-size: 16px;

  width: 100%;
  position: relative;
  outline: none;
  resize: none;
  transition: all 0.2s ease;

  background: $background;
  border: $input-border;
  border-radius: $border-radius;
  padding: $padding;
  font-size: $font-size;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  &:focus {
    box-shadow: 0px 0px 0px 4px rgba($primary, .2), 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    border: 1px solid transparent;
  }
  &::placeholder {
    color: $grey-true-500;
  }
  &.with-icon {
    padding-left: 42px;
  }
  &.invalid {
    box-shadow: 0px 0px 0px 3px rgba(255, 63, 63, 0.8);
  }
}
label:has(.with-icon) {
  position: relative;
  .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1 !important;
    color: $grey-true-500;
    font-size: 20px;
    left: 13px;
  }
}
.iti {
  width: 100%;
}
textarea {
  height: 130px;
}
.form-body {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.form-field {
  label {
    color: $grey-true-700;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.filled-input-label {
  position: relative;
  display: block;
  height: fit-content;

  .search-icon {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    color: $grey-500;
  }
}
