.search-modal {
  pointer-events: none;
}
.search-modal__container {
  display: flex;
  justify-content: center;
}
label:has(#search-modal-input) {
  height: fit-content;
  display: block;
  max-width: 500px;
  width: 100%;
  position: relative;
  margin-top: 150px;
  border-radius: 12px;
  overflow: hidden;
  &:after {
    content: '';
    width: 100%;
    height: 100%;
    background: $white;
    position: absolute;
    opacity: .5;
    top: 0;
    left: 0;
    backdrop-filter: blur(15px);
  }
  input {
    background: transparent;
    padding-left: 60px;
    border: none;
    font-size: 28px;
    color: var(--header);
    z-index: 3;
  }
  i {
    position: absolute;
    top: 50%;
    left: 13px;
    transform: translateY(-50%);
    font-size: 28px;
    color: var(--header);
    z-index: 2;
  }
}