.top-banner {
  padding: 8px;
  background: $grey-true-100;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  h4 {
    color: $grey-true-900;
  }
  a, i, span {
    color: $grey-true-600;
  }
  a {
    font-size: 14px;
  }
  i {
    font-size: 13px;
  }
  &__links {
    display: flex;
    align-items: center;
    gap: 32px;
    @media (max-width: $md4 + "px") {
      gap: 12px;
    }
  }
  .close-banner {
    position: absolute;
    padding: 10px;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  @media (min-width: $md2 + "px") {
    a {
      &:hover {
        i {
          transform: translateX(2px);
        }
      }
    }
  }
}