@import "../general/mixins";

.subscribe-form {
  padding: 55px 0;
  background: $grey-true-100;
  color: $black;
  form {
    width: 100%;
    max-width: 500px;
  }
  label {
    width: 100%;
  }
  @media (max-width: $md3 + "px") {
    padding: 32px 0;
    &__body {
      flex-direction: column !important;
      gap: 32px;
      h4 {
        font-size: 18px;
        line-height: 155.556%;
      }
      form {
        flex-direction: column;
        [type="submit"] {
          width: 100%;
        }
      }
    }
  }
}


.progress-bar {
  width: 100%;
  height: 8px;
  border-radius: 4px;
  background: $grey-true-200;
  &-fill {
    height: 100%;
    width: 60%;
    background: $grey-true-900;
    border-radius: 4px;
  }
}

.review-item {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-left: 22px;
  margin-top: 48px;
  margin-bottom: 48px;
  border-left: 2px solid $primary;
  h3 {
    font-style: italic;
  }
  @media (max-width: $md2 + "px") {
    gap: 24px;
  }
}

.user-review-item {
  // .user-review-item__img
  &__img {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    overflow: hidden;
    border-radius: 50%;
    width: 48px;
    height: 48px;
  }
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 8px;
  transition: all .2s ease;
  svg {
    width: 24px;
    height: 24px;
  }
  &.sm {
    width: 25px;
    height: 25px;
    svg {
      width: 14px;
      height: 14px;
    }
  }
  &.lg {
    min-width: 58px;
    min-height: 58px;
    max-width: 58px;
    max-height: 58px;
    text-align: right;
    font-family: $font;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    span {
      position: relative;
      top: 3px;
    }
    svg {
      width: 34px;
      height: 34px;
      @media (max-width: $md2 + "px") {
        width: 24px;
        height: 24px;
      }
    }
    @media (max-width: $md2 + "px") {
      min-width: 36px;
      min-height: 36px;
      max-width: 36px;
      max-height: 36px;
      border-radius: 4px;
      span {
        font-size: 22px;
        top: 2px;
      }
    }
  }
  svg {
    width: 16px;
    height: 16px;
  }
}
.white-bg {
  background: $white;
}
.call-action {
  width: 100%;
  @media (max-width: $md2 + "px") {
      flex-direction: column;
    text-align: center;
  }
  .btn {
    @media (max-width: $md2 + "px") {
      width: 100%;
    }
  }
}
.call-block {
  display: flex;
  align-items: center;
  gap: 12px;
  &:hover {
    .icon-wrapper {
      background: $primary-hover;
    }
  }
  &-content {
    position: relative;
    top: 1.3px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.theme-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 70px !important;
  @media (max-width: $md2 + "px") {
    padding-left: 0 !important;
  }
  li {
    position: relative;
    $top: 5px;
    @media (max-width: $md2 + "px") {
      &:after {
        content: none !important;
      }
    }
    &:nth-child(1) {
      @include line(60px, $top, calc(100% + 10px), unset, unset);
    }
    &:nth-child(2) {
      @include line(50px, $top, calc(100% + 10px), unset, unset);
    }
    &:nth-child(3) {
      @include line(40px, $top, calc(100% + 10px), unset, unset);
    }
    &:nth-child(4) {
      @include line(30px, $top, calc(100% + 10px), unset, unset);
    }
    &:nth-child(5) {
      @include line(20px, $top, calc(100% + 10px), unset, unset);
    }
  }
}

.message {
  overflow: hidden;
  border-radius: 8px;
  width: 100%;
  // .message__header
  &__header {
    padding: 16px;
    @media (max-width: $md2 + "px") {
      padding: 8px;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    & > div {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .date {
      color: rgba(250, 251, 255, 0.75);

      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    @media (max-width: $md2 + "px") {
      & > div {
        gap: 5px;
      }
      svg {
        width: fit-content;
        height: 11px;
      }
      .from-who {
        font-size: 9px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        z-index: 5 !important;
        transform: translateZ(12300px);
      }
      .date {
        font-size: 8px;
        line-height: normal;
      }
    }
  }

  // .message__body
  &__body {
    padding: 16px;
    @media (max-width: $md2 + "px") {
      padding: 8px;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      @media (max-width: $md2 + "px") {
        font-size: 8px;
        line-height: normal;
      }
    }
  }
}

